# Created by https://www.toptal.com/developers/gitignore/api/jupyternotebooks
# Edit at https://www.toptal.com/developers/gitignore?templates=jupyternotebooks

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# datasets
*.csv
*.xslx
*.json

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

# End of https://www.toptal.com/developers/gitignore/api/jupyternotebooks
Assignment 2/Apriori/Dataset/job_posting_chunks/jpc0.zip
Assignment 2/Apriori/Dataset/job_postings.zip
Assignment 2/Apriori/Dataset/job_postings_2.zip
Assignment 2/Apriori/Dataset/unused/
Assignment 2/Apriori/Dataset/transactions.zip
